.list-group {
    overflow: scroll;
    height: 250px;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item:hover {
  color: grey
}
.header{
  background-color: black;
}
.header, img{
  margin: auto;
  display: flex;
}
